<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="DbisTakipEntities" connectionString="metadata=res://*/entity1.Model1.csdl|res://*/entity1.Model1.ssdl|res://*/entity1.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IKKVSL1\SQLEXPRESS;initial catalog=DbisTakip;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>